<header class="logo">
    <i class="fa fa-bars" id="nav-display"></i>
    <i class="fa fa-gears"></i>
    <h1>workflow</h1>
</header>

<nav class="main-nav" id="js-nav">
    <ul>
        <li><a href="/" class="<%= active === 'Dashboard' ? 'active' : ''%>"><i class="fa fa-house"></i>Dashboard</a></li>
        <li><img src="" alt=""><a href="/team" class="<%= active === 'Team' ? 'active' : ''%>"><i class="fa fa-users"></i>Team</a></li>
        <li><img src="" alt=""><a href="/projects" class="<%= active === 'Projects' ? 'active' : ''%>"><i class="fa fa-cogs"></i>Projects</a></li>
        <li><img src="" alt=""><a href="/calendar" class="<%= active === 'Calendar' ? 'active' : ''%>"><i class="fa fa-calendar"></i>Calendar</a></li>
        <li><img src="" alt=""><a href="/documents" class="<%= active === 'Documents' ? 'active' : ''%>"><i class="fa fa-file-text"></i>Documents</a></li>
        <li><img src="" alt=""><a href="/reports" class="<%= active === 'Reports' ? 'active' : ''%>"><i class="fa fa-bar-chart"></i>Reports</a></li>
    </ul>
</nav>